.card-content {
    opacity:0;
    transition: all ease-in-out .5s;
}

.card-content-hover {
    opacity:1;
    transition: all ease-in-out.5s;
}

.card-image {
    /* width: 100px; */
    /* background-image: linear-gradient(to bottom, transparent, rgba(237, 108, 2, 0.1)); */
    opacity: 1;
    transition: all ease-in-out .5s;
}

.card-image-hover {
    /* width: 100px; */
    /* background-image: linear-gradient(to bottom, rgba(237, 108, 2, 0.1), rgba(237, 108, 2, 0.1)); */
    opacity:0.05;
    transition: all ease-in-out .5s;
}

.titre-effect {
    opacity:1;
    transform : scale(1);
    transition: all ease-in-out 3s;
    color:rgba(100,100,100,1);
}

.titre {
    opacity:0;
    color:rosybrown;
    transform: scale(0) translate(-50%, -50%);
}

.filter-bar {
    display: flex ;
    flex-direction: row;
    margin: auto 1vw;
    padding: 10px 0;
    align-items: center;
}

.filter-bar-menu {
    flex: 1;
    padding-bottom: 0;
}

@media screen and (max-width: 900px) {
    .filter-bar {
        display: flex ;
        flex-direction: column;
        margin: auto 1vw;
        padding: 10px 0;
        align-items: center;
    }

    .filter-bar-menu {
        padding-bottom: 20px;
    }
}